body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
#survey-box {
  border: black 1px solid;
  padding: 1rem;
  position: absolute;
  /* centering the survey */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
  text-align: center;
}
.names {
  font-style: italic;
}
